<h4>Notification Center</h4>

<%= link_to new_notification_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-plus"></span> Add notification contacts
<% end %>

<% if @notifications.any? %>
    <table class="table">
      <tr>
        <th>Project</th>
        <th>Notification Name</th>
        <th>Notification Type</th>
        <th>Contacts</th>
        <th colspan="2">Actions</th>
      </tr>
      <% @notifications.each do |notification| %>
          <tr>
            <td><%= notification.project.name %></td>
            <td><%= notification.name %></td>
            <td><%= notification.notification_type %></td>
            <td><%= contacts_formatted(notification.contacts) %></td>
            <td>
              <%= link_to edit_notification_path(notification), class: 'btn btn-warning btn-circle' do %>
                  <i class="fa fa-pencil"></i>
              <% end %>
            </td>
            <td>
              <%= link_to notification_path(notification), :method => :delete, class: 'btn btn-danger btn-circle' do %>
                  <i class="fa fa-times"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>